<div class="field">






    <div class="card-stack">
        @for (cars of [0, 1, 2, 3]; track $index) {
            <img [ngStyle]="{'right.px': $index * 5}" src="./../../assets/img/cards/blue_back.png" alt="">
        }
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="./../../assets/img/cards/blue_back.png" alt="">
        
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 25px;" src="./../../assets/img/cards/{{ currentCard }}.png" alt="">
    </div>
</div>
